table {
    text-align: center;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid black;
    margin-top: 50px;
    border-color: rgb(74, 116, 150);
    background-color: rgb(208, 238, 255);
}

td {
    height: 50px;
}

h1 {
    text-align: center;
    color: rgb(74, 116, 150);
}

.btn {
    text-align: center;
}

.btn button {
    background-color: rgb(74, 116, 150);
    color: white;
    border-color: rgb(74, 116, 150);
}

.btn1 button {
    background-color: rgb(74, 116, 150);
    color: white;
    border-color: rgb(74, 116, 150);
}

.addBtn {
    background-color: rgb(74, 116, 150);
    color: white;
    border-color: rgb(74, 116, 150);
}

.search {
    border: solid 1px black;
    margin-right: 1600px;
    padding-left: 10px;
}

.outOfStock {
    border: solid 1px black;
    margin-right: 1600px;
    padding-left: 10px;
}

.add {
    float:right;
    margin-right: 1000px;
}

.header {
    background-color: rgb(208, 238, 255);
}

.wlcm {
    text-align: center;
}


